/*body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
*/
button {
	cursor: pointer;
	text-transform: uppercase;
	z-index: 999; 
}

canvas {
	display: block;
}

.dg.ac {
	z-index: 2 !important; /* TODO Solve this in HTML */
}
		

.btn { /* 按钮美化 */
	width: 100px; /* 宽度 */
	height: 30px;
    position: fixed;
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 12px; /* 字体大小 */
	/*float:right;*/
}